<%- include('../../includes/header')-%>
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
        <div id="wrapper" class="wrapper" >
            <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
                <%- include('../../includes/sidebar')-%>
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col">
<!--                                        <input name="startDate" id="startDate" class="date-picker year form-control" placeholder="Date" autocomplete="off"/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h1 class="text-center"><%= title %></h1>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-2">
                                            <!--                                <label >Choose a Center:</label>-->
                                            <select id="center" name="center" class="form-control" required>
                                                <option value="">Choose center</option>
                                                <option value="all">সকল সেন্টার </option>
                                                <% if (centers.length >0){ %>
                                                    <% centers.forEach(function (center) { %>
                                                        <option value="<%= center.id %>"><%= center.center %></option>
                                                    <% }) %>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <input name="startDate" id="startDate" class="date-picker year form-control" placeholder="Date" autocomplete="off"/>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="submit" value="Submit" id="submit" class="btn btn-success">
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row mb-2">
                            <div class="col-md-12">
                                <a href="/center/apaForm" class="btn btn-success btn-group-sm ">এপিএ ফর্ম</a>
                            </div>

                        </div> -->

                        <div class="table-responsive" id="output"></div>

                        <button onclick="exportToExcel('tblCustomers', 'মাসিক প্রতিবেদন')" class="btn btn-success">Export Existing Data To Excel File</button>

                        <button onclick="exportToPdf()" class="btn btn-success">
                            Download PDF
                        </button>

                        <div id="output"></div>
        <!--                    <div id="loading" class="loading"><img src="{{ asset('assets/img/icon/loading.gif') }}" alt=""></div>-->
                    </div>
                </div>
            </div>
        </div>


   
<%- include('../../includes/footer')-%>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<script>
    async function exportToPdf() {
        var year = $('#startDate').val();
        var center = $('#center').val();
        const { data } = await axios.post(`/pd/generatePdfMonthlyProgress`,{year: year, center:center});
        var mywindow = window.open("", "PRINT", "height=400,width=600");
        mywindow.document.write(data.html);
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
        mywindow.print();
        return true;
    }
</script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    async function exportToExcel(tableID, filename = '') {
    try {
      console.log(tableID)
      var elt = document.getElementById(tableID);
      var wb = await XLSX.utils.table_to_book(elt, {
        sheet: "sheet1"
      });
      // return dl ?
      //   XLSX.write(wb, {
      //     bookType: 'xlsx',
      //     bookSST: true,
      //     type: 'base64'
      //   })
      // : 
      await XLSX.writeFile(wb, filename + '.xlsx', );
    } catch (error) {
      console.log(error)
    }

  }
     
    </script>

<script>
        
    $(document).ready(function(){
        
      $('.dropdown a.test').on("click", function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });
    });
</script>

<script type="text/javascript">
   


    $( "#wrapper" ).load( "no url rn",function() {
        var year = moment().format("MMM-YYYY");
        $('#startDate').val(year)

        var center = 0;
        $.ajax({
            type: "POST",
            url: "/pd/monthlyProgressFilter",
            data: {year: year, center:center},
            datatype: "json",
            beforeSend: function() {
                // setting a timeout
                $('#loading').show();
                $('#output').hide();

            },
            success: function (data) {
                $('#output').html(data);
                $('#tblCustomers').DataTable();
            },
            complete: function() {
                $('#loading').hide();
                $('#output').show();
            }
        });
    });


    $('#submit').on("click",function () {
        var year = $('#startDate').val();
        var center = $('#center').val();

        $.ajax({
            type: "POST",
            url: "/pd/monthlyProgressFilter",
            data: {year: year, center:center},
            datatype: "json",
            beforeSend: function() {
                // setting a timeout
                $('#loading').show();
                $('#output').hide();
            },
            success: function (data) {
                $('#output').html(data);
                $('#tblCustomers').DataTable();
            },
            complete: function() {
                $('#loading').hide();
                $('#output').show();
            }
        });
    });

    $('.date-picker').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'M-yy',
        onClose: function(dateText, inst) {
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        }
    });

    

</script>