<%if (cropCatg.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>সেন্টার আইডি</th>
            <th>ক্যাটাগরি নাম</th>
            <th>সাব-ক্যাটাগরি নাম</th>
            <th>বিবরণ</th>
            <th>জাত</th>
            <th>উৎপাদন (লক্ষ্যমাত্রা)</th>
            <th>উৎপাদন (চলতি মাস)</th>
            <th>উৎপাদন (পূর্বমাস পর্যন্ত)</th>
            <th>মোট উৎপাদন (চলতি+পূর্ব মাস)</th>
            <th>ডিএই চালানে প্রাপ্তি</th>
            <th>পূর্ব বছরের জের </th>
            <th>সর্বমোট (মোট+ডিএই চালানে প্রাপ্তি+পূর্ব বছরের জের)</th>
            <th>বিতরণ (চলতি মাস)</th>
            <th>বিতরণ (পূর্বমাস পর্যন্ত)</th>
            <th>বিতরণ মোট (চলতি+পূর্ব মাস)</th>
            <th>ডিএই চালানে প্রদান</th>
            <th>মৃত/বিনষ্ট রাইটআপ</th>
            <th>সর্বমোট (মোট+ডিএই চালানে প্রদান+মৃত/বিনষ্ট রাইটআপ)</th>
            <th>নীট মজুদ</th>
        </tr>
        </thead>
        <tbody>
        <% cropCatg.forEach(function(crop,index){ %>
            <%
                var currentMonth = selectedDate
                var startRange = "";
                var endRange = "";

                var prevEconomicStart = "";
                var prevEconomicEnd = "";

                if (moment().format("M") < 7){
                    startRange = "jul"+"-"+moment(selectedDate).subtract(1, "year").format('yyyy')
                    endRange = "jul"+"-"+moment(selectedDate).format('yyyy')
                }else{
                    startRange = "jul"+"-"+moment(selectedDate).format('yyyy')
                    endRange = "jul"+"-"+moment(selectedDate).add(1, "year").format('yyyy')
                }

                // Previous Economic year

                if (moment().format("M") < 7){
                    prevEconomicStart = "jul"+"-"+moment(selectedDate).subtract(2, "year").format('yyyy')
                    prevEconomicEnd = "jul"+"-"+moment(selectedDate).subtract(1, "year").format('yyyy')
                }else{
                    prevEconomicStart = "jul"+"-"+moment(selectedDate).subtract(1, "year").format('yyyy')
                    prevEconomicEnd = "jul"+"-"+moment(selectedDate).format('yyyy')
                }



                // ক্যাটাগরি *******
                var category = ""
                // সাব-ক্যাটাগরি *******
                var subCategory = ""
                // বিবরণ *******
                var biboron = ""
                // জাত *******
                var breed = crop.name


                category_id = 0
                subCategory_id = 0
                biboron_id = 0
                allCropCatg.forEach(function(allCrop){
                    if (allCrop.name === breed){
                        biboron_id = allCrop.parent_id
                    }
                })
                allCropCatg.forEach(function(allCrop){
                    if (allCrop.id === biboron_id){
                        biboron = allCrop.name
                    }
                })

                allCropCatg.forEach(function(allCrop){
                    if (allCrop.name === biboron){
                        subCategory_id = allCrop.parent_id
                    }
                })
                allCropCatg.forEach(function(allCrop){
                    if (allCrop.id === subCategory_id){
                        subCategory = allCrop.name
                    }
                })

                allCropCatg.forEach(function(allCrop){
                    if (allCrop.name === subCategory){
                        category_id = allCrop.parent_id
                    }
                })
                allCropCatg.forEach(function(allCrop){
                    if (allCrop.id === category_id){
                        category = allCrop.name
                    }
                })


                // current production (  উৎপাদন  )*******
                var currentProductionSum = 0;
                var previousMonthProduction = 0;
                // উৎপাদন (লক্ষ্যমাত্রা) *********
                var productionTargetSum = 0;
                // মোট উৎপাদন (চলতি+পূর্ব মাস) *********
                var totalProductionSum = 0;
                //ডিএই চালানে প্রাপ্তি (চলতি মাস) *********
                var daePraptiSum = 0;
                // পূর্ব বছরের জের *********
                var prevYearJer = 0;
                //  বিতরণ ********
                var currentBitoronSum = 0;
                var previousMonthBitoronSum = 0;
                // মোট বিতরণ ******
                var totalBitoronSum = 0;
                // ডিএই চালানে প্রদান *******
                var currentDaeProdanSum = 0;
                // মৃত/বিনষ্ট ********
                var currentMritoSum = 0;
                // মন্তব্য *********
                // var montobboSum = "";

            %>
            <% records.forEach(function(row){ %>
                <%
                    if(row.breed === crop.name){
                        centerId = row.centerId;
                        category = row.category;
                        subCategory = row.subCategory;
                        biboron = row.biboron;
                        breed = row.breed;
                        // current production (  উৎপাদন  )*******
                        const currentProd = JSON.parse(row.productionCurrent)
                        currentProd.forEach(function(prodCurrent){
                            if ( prodCurrent.time === selectedDate ) {
                                currentProductionSum += parseInt(prodCurrent.amount)
                            }
                            else if ( moment( prodCurrent.time ).isBefore(selectedDate) && moment( prodCurrent.time ).isSameOrAfter(startRange) &&  moment( prodCurrent.time ).isSameOrBefore(endRange) ){
                                previousMonthProduction += parseInt(prodCurrent.amount)
                            }
                        })

                        // উৎপাদন (লক্ষ্যমাত্রা) *********
                        const TargetProduction = JSON.parse(row.productionTarget)
                        TargetProduction.forEach(function(prodTarget){
                            if ( moment(currentMonth).isAfter(prodTarget.startTime) &&  moment(currentMonth).isBefore(prodTarget.endTime) ){
                                productionTargetSum += parseInt(prodTarget.amount)
                            }
                        })

                        // মোট উৎপাদন (চলতি+পূর্ব মাস) *********
                        const TotalProduction = JSON.parse(row.productionTotal)
                        TotalProduction.forEach(function(prodTotal){
                            if ( moment(currentMonth).isAfter(prodTotal.startTime) &&  moment(currentMonth).isBefore(prodTotal.endTime) ){
                                totalProductionSum += parseInt(prodTotal.amount)
                            }
                        })

                        //ডিএই চালানে প্রাপ্তি (চলতি মাস) *********
                        const currentDaePrapti = JSON.parse(row.daePrapti)
                        currentDaePrapti.forEach(function(daePraptiCurrent){
                            if ( daePraptiCurrent.time === selectedDate ) {
                                daePraptiSum += parseInt(daePraptiCurrent.amount)
                            }
                        })

                        // পূর্ব বছরের জের *********
                        currentDaePrapti.forEach(function(daePraptiCurrent){
                            if ( moment( daePraptiCurrent.time ).isAfter(prevEconomicStart) &&  moment( daePraptiCurrent.time ).isBefore(prevEconomicEnd) ) {
                                prevYearJer += parseInt(daePraptiCurrent.amount)
                            }
                        })

                        //  বিতরণ ********
                        const currBitoron = JSON.parse(row.bitoronCurrentMonth)
                        currBitoron.forEach(function(BitoCurrent){
                            if ( BitoCurrent.time === selectedDate ) {
                                currentBitoronSum += parseInt(BitoCurrent.amount)
                            }
                            else if ( moment( BitoCurrent.time ).isBefore(selectedDate) && moment( BitoCurrent.time ).isAfter(startRange) &&  moment( BitoCurrent.time ).isBefore(endRange) ){
                                previousMonthBitoronSum += parseInt(BitoCurrent.amount)
                            }
                        })

                        // মোট বিতরণ ******
                        const TotalBitoron = JSON.parse(row.bitoronTotal)
                        TotalBitoron.forEach(function(bitorTotal){
                            if ( moment(currentMonth).isAfter(bitorTotal.startTime) &&  moment(currentMonth).isBefore(bitorTotal.endTime) ){
                                totalBitoronSum += parseInt(bitorTotal.amount)
                            }
                        })

                        // ডিএই চালানে প্রদান *******
                        const currDaeProdan = JSON.parse(row.daeProdan)
                        currDaeProdan.forEach(function(DaeProdanCurrent){
                            if ( DaeProdanCurrent.time === selectedDate ) {
                                currentDaeProdanSum += parseInt(DaeProdanCurrent.amount)
                            }
                        })

                        // মৃত/বিনষ্ট ********
                        const currMrito = JSON.parse(row.deadWriteup)
                        currMrito.forEach(function(MritoCurrent){
                            if ( MritoCurrent.time === selectedDate ) {
                                currentMritoSum += parseInt(MritoCurrent.amount)
                            }
                        })

                        // মন্তব্য *********
                        // const currMontobbo = JSON.parse(row.comment)
                        // currMontobbo.forEach(function(MontobboCurrent){
                        //     if ( MontobboCurrent.time === selectedDate ) {
                        //         montobboSum = MontobboCurrent.msg
                        //     }
                        // })
                    }
                %>
            <% }) %>

            <tr>
                <td> <%= centerId %></td>
                <td> <%= category %></td>
                <td><%= subCategory %></td>
                <td><%= biboron %></td>
                <td><%= breed %></td>
                <td><%= new Number(productionTargetSum).toLocaleString("bn-BD") %></td>
                <td><%= new Number(currentProductionSum).toLocaleString("bn-BD") %></td>
                <td> <%= new Number(previousMonthProduction).toLocaleString("bn-BD") %> </td>
                <td> <%= new Number(currentProductionSum + previousMonthProduction).toLocaleString("bn-BD") %> </td>
                <td> <%= new Number(daePraptiSum).toLocaleString("bn-BD") %> </td>
                <td> <%= new Number(prevYearJer).toLocaleString("bn-BD") %> </td>
                <td> <%= new Number(currentProductionSum + previousMonthProduction + daePraptiSum + prevYearJer).toLocaleString("bn-BD") %> </td>
                <td><%= new Number(currentBitoronSum).toLocaleString("bn-BD") %></td>
                <td><%= new Number(previousMonthBitoronSum).toLocaleString("bn-BD") %></td>
                <td><%= new Number(currentBitoronSum + previousMonthBitoronSum).toLocaleString("bn-BD") %></td>
                <td><%= new Number(currentDaeProdanSum).toLocaleString("bn-BD") %></td>
                <td><%= new Number(currentMritoSum).toLocaleString("bn-BD") %></td>
                <td><%= new Number(currentBitoronSum + previousMonthBitoronSum + currentDaeProdanSum + currentMritoSum).toLocaleString("bn-BD") %></td>
                <td><%= new Number((currentProductionSum + previousMonthProduction + daePraptiSum + prevYearJer)-(currentBitoronSum + previousMonthBitoronSum + currentDaeProdanSum + currentMritoSum)).toLocaleString("bn-BD") %></td>
            </tr>

        <% }) %>

        </tbody>
    </table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>ক্যাটাগরি নাম</th>
            <th>সাব-ক্যাটাগরি নাম</th>
            <th>বিবরণ</th>
            <th>জাত</th>
            <th>উৎপাদন (লক্ষ্যমাত্রা)</th>
            <th>উৎপাদন (চলতি মাস)</th>
            <th>উৎপাদন (পূর্বমাস পর্যন্ত)</th>
            <th>মোট উৎপাদন (চলতি+পূর্ব মাস)</th>
            <th>ডিএই চালানে প্রাপ্তি</th>
            <th>পূর্ব বছরের জের</th>
            <th>সর্বমোট (মোট+ডিএই চালানে প্রাপ্তি+পূর্ব বছরের জের)</th>
            <th>বিতরণ (চলতি মাস)</th>
            <th>বিতরণ (পূর্বমাস পর্যন্ত)</th>
            <th>বিতরণ মোট (চলতি+পূর্ব মাস)</th>
            <th>ডিএই চালানে প্রদান</th>
            <th>মৃত/বিনষ্ট রাইটআপ</th>
            <th>সর্বমোট (মোট+ডিএই চালানে প্রদান+মৃত/বিনষ্ট রাইটআপ)</th>
            <th>নীট মজুদ</th>
            <th>মন্তব্য</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>