<%- include('../../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>গ্রীষ্মকালীন সবজি ও অন্যান্য বীজের/চারার বিক্রয় মূল্য ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/pd/summerVegForms" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                    <% if(messages.message){ %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong><%= messages.message %></strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>    

                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <div class="col-md-9">
                                <label >বাছুন :</label>
                                <select id="item" name="item" required>
                                    <option value="">আইটেমের নাম </option>
                                    <% if (records.length >0){ %>
                                        <% records.forEach(function (row) { %>
                                            <option value="<%= row.name %>"><%= row.name %></option>
                                        <% }) %>
                                    <% } %>
                                </select>
                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="doshcholti" class="col-md-3 control-label">প্রতি ১০ গ্রাম বীজের মূল্য(টাকায়) (চলতি অর্থবছরে)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="doshcholti" placeholder="প্রতি ১০ গ্রাম বীজের মূল্য(টাকায়) (চলতি অর্থবছরে)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ekshoucchocholti" class="col-md-3 control-label">প্রতি ১০০ টি চারার (উচ্চ ফলনশীল) মূল্য(টাকায়) (চলতি অর্থবছরে)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="ekshoucchocholti" placeholder="প্রতি ১০০ টি চারার (উচ্চ ফলনশীল) মূল্য(টাকায়) (চলতি অর্থবছরে)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ekshohybridcholti" class="col-md-3 control-label">প্রতি ১০০ টি চারার (হাইব্রিড) মূল্য(টাকায়) (চলতি অর্থবছরে)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="ekshohybridcholti" placeholder="প্রতি ১০০ টি চারার (হাইব্রিড) মূল্য(টাকায়) (চলতি অর্থবছরে)">
                                        </div>
                                    </div>

                                    
                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <label for="year">বছর :</label>
                                        <select id="year" name="year" required>
                                            <option value="2017">২০১৭-১৮</option>
                                            <option value="2018">২০১৮-১৯</option>
                                            <option value="2019">২০১৯-২০</option>
                                            <option value="2020">২০২০-২১</option>
                                            <option value="2021">২০২১-২২</option>
                                            <option value="2022">২০২২-২৩</option>
                                        </select>
                                        </div>
                                    </div>

                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-offset-3 col-md-9">
                                    <button> <a href="/pd/summerVeg" class="col-md-offset-3 col-md-9">Finish Submitting Report</a>
                                     </button>
                                     </div>
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../../includes/footer')-%>