<%- include('../../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>ক্যাডার/নন ক্যাডার কর্মকর্তাদের/কর্মচারী নাম ও পদবী সহ শূন্য পদের তথ্য ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/center/chak1EditPost/<%=records.id%>" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="center" class="col-md-3 control-label">হর্টিকালচার সেন্টারের নাম</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="center" value="<%= records.center %>" >
                                        </div>
                                    </div>
                                    

                                    <div class="form-group">
                                        <label for="kormokorta" class="col-md-3 control-label">কর্মকর্তার নাম ও মোবাইল নং</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="kormokorta" value="<%= records.kormokorta %>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="porichito" class="col-md-3 control-label">পরিচিতি নং</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="porichito" value="<%= records.porichito %>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <label for="nijDistrict" class="col-md-3 control-label">নিজ জেলা</label>
                                            <select name="nijDistrict" id="nijDistrict">
                                        <option value="বাগেরহাট">বাগেরহাট</option>
                                        <option value="বান্দরবান">বান্দরবান</option>
                                        <option value="বরগুনা">বরগুনা</option>
                                        <option value="বরিশাল">বরিশাল</option>
                                        <option value="ভোলা">ভোলা</option>
                                        <option value="বগুড়া">বগুড়া</option>
                                        <option value="ব্রাহ্মণবাড়িয়া">ব্রাহ্মণবাড়িয়া</option>
                                        <option value="চাঁদপুর">চাঁদপুর</option>
                                        <option value="চট্টগ্রাম">চট্টগ্রাম</option>
                                        <option value="চুয়াডাঙ্গা">চুয়াডাঙ্গা</option>
                                        <option value="কুমিল্লা">কুমিল্লা</option>
                                        <option value="কক্সবাজার">কক্সবাজার</option>
                                        <option value="ঢাকা">ঢাকা</option>
                                        <option value="দিনাজপুর">দিনাজপুর</option>
                                        <option value="ফরিদপুর">ফরিদপুর</option>
                                        <option value="ফেনী">ফেনী</option>
                                        <option value="গাইবান্ধা">গাইবান্ধা</option>
                                        <option value="গাজীপুর">গাজীপুর</option>
                                        <option value="গোপালগঞ্জ">গোপালগঞ্জ</option>
                                        <option value="হবিগঞ্জ">হবিগঞ্জ</option>
                                        <option value="জয়পুরহাট">জয়পুরহাট</option>
                                        <option value="জামালপুর">জামালপুর</option>
                                        <option value="যশোর">যশোর</option>
                                        <option value="ঝালকাঠি">ঝালকাঠি</option>
                                        <option value="ঝিনাইদহ">ঝিনাইদহ</option>
                                        <option value="খাগড়াছড়ি">খাগড়াছড়ি</option>
                                        <option value="খুলনা">খুলনা</option>
                                        <option value="কিশোরগঞ্জ">কিশোরগঞ্জ</option>
                                        <option value="কুড়িগ্রাম">কুড়িগ্রাম</option>
                                        <option value="কুষ্টিয়া">কুষ্টিয়া</option>
                                        <option value="লক্ষ্মীপুর">লক্ষ্মীপুর</option>
                                        <option value="লালমনিরহাট">লালমনিরহাট</option>
                                        <option value="মাদারীপুর">মাদারীপুর</option>
                                        <option value="মাগুরা">মাগুরা</option>
                                        <option value="মানিকগঞ্জ">মানিকগঞ্জ</option>
                                        <option value="মৌলভীবাজার">মৌলভীবাজার</option>
                                        <option value="মেহেরপুর">মেহেরপুর</option>
                                        <option value="মুন্সীগঞ্জ">মুন্সীগঞ্জ</option>
                                        <option value="ময়মনসিংহ">ময়মনসিংহ</option>
                                        <option value="নওগাঁ">নওগাঁ</option>
                                        <option value="নড়াইল">নড়াইল</option>
                                        <option value="নারায়ণগঞ্জ">নারায়ণগঞ্জ</option>
                                        <option value="নরসিংদী">নরসিংদী</option>
                                        <option value="নাটোর">নাটোর</option>
                                        <option value="নবাবগঞ্জ">নবাবগঞ্জ</option>
                                        <option value="নেত্রকোনা">নেত্রকোনা</option>
                                        <option value="নীলফামারী">নীলফামারী</option>
                                        <option value="নোয়াখালী">নোয়াখালী</option>
                                        <option value="পাবনা">পাবনা</option>
                                        <option value="পঞ্চগড়">পঞ্চগড়</option>
                                        <option value="পটুয়াখালী">পটুয়াখালী</option>
                                        <option value="পিরোজপুর">পিরোজপুর</option>
                                        <option value="রাজবাড়ী">রাজবাড়ী</option>
                                        <option value="রাজশাহী">রাজশাহী</option>
                                        <option value="রাঙ্গামাটি">রাঙ্গামাটি</option>
                                        <option value="রংপুর">রংপুর</option>
                                        <option value="সাতক্ষীরা">সাতক্ষীরা</option>
                                        <option value="শরীয়তপুর">শরীয়তপুর</option>
                                        <option value="শেরপুর">শেরপুর</option>
                                        <option value="সিরাজগঞ্জ">সিরাজগঞ্জ</option>
                                        <option value="সুনামগঞ্জ">সুনামগঞ্জ</option>
                                        <option value="সিলেট">সিলেট</option>
                                        <option value="টাঙ্গাইল">টাঙ্গাইল</option>
                                        <option value="ঠাকুরগাঁও">ঠাকুরগাঁও</option>
</select>                                        
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="podobi" class="col-md-3 control-label">পদবী</label>
                                        <div class="col-md-9">
                                            <select name="podobi" id="podobi" class="form-control">
                                                <option value="">পদের নাম</option>
                                                <% podobiLists.forEach(function(row){ %>
                                                    <% if (row.podobi != null) {%>
                                                        <option value="<%= row.podobi %>"><%= row.podobi %></option>
                                                    <% } %>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="birthDate" class="col-md-3 control-label">জন্ম তারিখ</label>
                                        <div class="col-md-9">
                                            <input type="date" class="form-control" name="birthDate" value="<%= records.birthDate %>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="firstdate" class="col-md-3 control-label">চাকুরীতে প্রথম যোগদানের তারিখ</label>
                                        <div class="col-md-9">
                                            <input type="date" class="form-control" name="firstdate" value="<%= records.firstdate %>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="presentDate" class="col-md-3 control-label">বর্তমান কর্মস্থলে যোগদানের তারিখ</label>
                                        <div class="col-md-9">
                                        <input type="date" class="form-control" name="presentDate" value="<%= records.presentDate %>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="pastWorkstation" class="col-md-3 control-label">পূর্ববর্তী কর্মস্থল ও যোগদানের তারিখ</label>
                                        <div class="col-md-9">
                                            <input type="date" class="form-control" name="pastWorkstation" value="<%= records.pastWorkstation %>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="comment" class="col-md-3 control-label">মন্তব্য</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="comment" value="<%= records.comment %>">
                                        </div>
                                    </div>

                                    <input type="hidden" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>" >
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../../includes/footer')-%>