<%- include('../../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>হরটিকালচার সেন্টারের চারা/কলমের বিক্রয়মূল্য ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/pd/charaKolomForms" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                        
                                    <div class="form-group">
                                        <label for="cname" class="col-md-3 control-label">চারা/কলমের নাম</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="cname" placeholder="চারা/কলমের নাম">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="shotero" class="col-md-3 control-label">২০১৭-১৮ অর্থবছরে অনুমোদিত বিক্রয়মূল্য</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="shotero" placeholder="২০১৭-১৮ অর্থবছরে অনুমোদিত বিক্রয়মূল্য">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="atharo" class="col-md-3 control-label">২০১৮-১৯ অর্থবছরে অনুমোদিত বিক্রয়মূল্য</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="atharo" placeholder="২০১৮-১৯ অর্থবছরে অনুমোদিত বিক্রয়মূল্য">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="unish" class="col-md-3 control-label">২০১৯-২০ অর্থবছরে অনুমোদিত বিক্রয়মূল্য</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="unish" placeholder="২০১৯-২০ অর্থবছরে অনুমোদিত বিক্রয়মূল্য">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="parbotto" class="col-md-3 control-label">২০১৯-২০ অর্থবছরে পার্বত্য জেলাসমূহের অনুমোদিত অনুমোদিত বিক্রয়মূল্য</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="parbotto" placeholder="২০১৯-২০ অর্থবছরে পার্বত্য জেলাসমূহের অনুমোদিত অনুমোদিত বিক্রয়মূল্য">
                                        </div>
                                    </div>

                                   
                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">বছর</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="year" placeholder="বছর">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">userid</label>
                                        <div class="col-md-9">
                                            <input type="tsxt" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../../includes/footer')-%>