<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>হরটিকালচার সেন্টারের চারা/কলমের বিক্রয়মূল্য</title>

    <style>
        .flex-container {
            display: flex;

            justify-content: center
        }
        .table, td, th {
            border: 1px solid black;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
        }
        .center {
            text-align: center;
        }
        .inline-block-child {
            display: inline-block;
        }
    </style>
</head>
<body>

<div style="margin-top: 5px; padding-top: 5px; padding-bottom: 5px; background-color: #ffffffa6;" class="center">
    <div>
        <h1>হরটিকালচার সেন্টারের চারা/কলমের বিক্রয়মূল্য</h1>
        <p><b>সেন্টারের নাম :</b><%= centerName %></p>
        <%if (records.length >0){ %>
            <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>ক্রমিক নং</th>
                <th>চারা/কলমের নাম</th>
                <th>চলতি অর্থবছরে অনুমোদিত বিক্রয়মূল্য</th>
                <th>চলতি অর্থবছরে পার্বত্য জেলাসমূহের অনুমোদিত অনুমোদিত বিক্রয়মূল্য</th>
            </tr>
            </thead>
            <tbody>
                <% records.forEach(function(row,index){ %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= row.cname %></td>
                        <td><%= row.cholti %></td>
                        <td><%= row.parbotto %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <% }else{ %>
            <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>চারা/কলমের নাম</th>
                <th>চলতি অর্থবছরে অনুমোদিত বিক্রয়মূল্য</th>
                <th>চলতি অর্থবছরে পার্বত্য জেলাসমূহের অনুমোদিত অনুমোদিত বিক্রয়মূল্য</th>
                </tr>
                </thead>
                <tbody>
                <% records.forEach(function(row){ %>
                    <tr>
                        <td colspan="10">No data Found</td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</div>

</body>
</html>