<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>আইটেমের নাম</th>
        <th>লক্ষ্যমাত্রা (সংখ্যা/প্যাকেট)</th>
        <th>গত মাস পর্যন্ত উৎপাদন (সংখ্যা/প্যাকেট)</th>
        <th>চলতি মাসে উতপাদন(সংখ্যা/প্যাকেট)</th>
        <th>আলোচ্য মাস পর্যন্ত মোট উৎপাদন (সংখ্যা/প্যাকেট)</th>
        <th>পরিবর্তন/মুছুন</th>
    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td><%= row.item %></td>
                <td><%= row.target %></td>
                <td><%= row.lproduction %></td>
                <td><%= row.cproduction %></td>
                <td><%= row.tproduction %></td>
                
                
               
                <td><a class="btn btn-primary btn-xs" href="/edit/<%= row.id %>"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-xs" href="/delete/<%= row.id %>"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>আইটেমের নাম</th>
            <th>লক্ষ্যমাত্রা (সংখ্যা/প্যাকেট)</th>
            <th>গত মাস পর্যন্ত উৎপাদন (সংখ্যা/প্যাকেট)</th>
            <th>চলতি মাসে উতপাদন(সংখ্যা/প্যাকেট)</th>
            <th>আলোচ্য মাস পর্যন্ত মোট উৎপাদন (সংখ্যা/প্যাকেট)</th>
            <th>পরিবর্তন/মুছুন</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>