<%- include('../includes/header')-%>
<div class="wrapper">
    <%- include('../includes/topbar')-%>

    <div class="page-wrap">
        <%- include('../includes/sidebar')-%>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row clearfix">
                    
                    <div class="col ">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="state">
                                        <h6>চারা উৎপাদন</h6>
                                        <h4 id="totalProduction"><%= new Number(totalProduction).toLocaleString("bn-BD") %></h4>
                                    </div>
                                    <div class="icon">
                                        <i class="ik ik-award"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="state">
                                        <h6>চারা বিতরণ</h6>
                                        <h4 id="totalBitoron"> <%= new Number(totalBitoron).toLocaleString("bn-BD") %> </h4>
                                    </div>
                                    <div class="icon">
                                        <i class="ik ik-award"></i>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col ">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="state">
                                        <h6>চারা সংরক্ষণ/মজুদ</h6>
                                        <h4 id="totalMojud"><%= new Number(totalProduction - totalBitoron).toLocaleString("bn-BD") %></h4>
                                    </div>
                                    <div class="icon">
                                        <i class="ik ik-award"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col ">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="state">
                                        <h6>রাজস্ব আয়</h6>
                                        <h4 id="totalrajossho"><%= new Number(totalrajossho).toLocaleString("bn-BD") %></h4>
                                    </div>
                                    <div class="icon">
                                        <i class="ik ik-award"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <select id="center" class="form-control">
                            <option value="all">সব  সেন্টার</option>
                            <% center.forEach((row) => { %>
                                <option value="<%= row.id %>"> <%= row.center %> </option>
                            <%  }) %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">

                        <div class="card">
                            <div class="card-body">
                                <div class="form-row">
                                        <label for="newRajosshoCode" class="col-md-1 control-label"> নতুন সেন্টার যোগ করুন :</label>
                                        
                                        <div class="col-md-3">
                                            <a href="/center/signup" class="btn btn-primary">যোগ করুন</a>  
                                        </div>
                                </div>
                            </form>
                            </div>
                        </div>

                        <!--    main catg -->
                        <div class="card">
                            <div class="card-body">
                                <form action="/pd/add/mainCategory" method="post">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="">ক্যাটাগরি</label>
                                            <input type="text"  id="mainCatg" name="mainCatg" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for=""></label>
                                            <input type="submit" value="যোগ করুন ক্যাটাগরি" class="btn btn-primary" >
                                        </div>

                                        <div class="col">
                                            <% crop.forEach((row) => {
                                            if (row.type === 'mainCategory'){
                                            %>
                                                <span style="margin-right: 2px"> <%= row.name %> </span> |
                                            <%
                                            }
                                            })
                                            %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--  sub catg -->
                        <div class="card">
                            <div class="card-body">
                                <form action="/pd/add/subcategory" method="post">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="">ক্যাটাগরি</label>
                                            <select class="form-control" id="main_category" name="main_category">
                                                <option selected> ক্যাটাগরি বাছুনঃ </option>
                                                <% crop.forEach((row) => {
                                                if (row.type === 'mainCategory'){
                                                %>
                                                    <option value="<%= row.id %>"> <%= row.name %> </option>
                                                <%
                                                }
                                                })
                                                %>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="">সাব-ক্যাটাগরি</label>
                                            <input type="text"  id="sub_category" name="sub_category" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for=""></label>
                                            <input type="submit" value=" সাব-ক্যাটাগরি যোগ করুন" class="btn btn-primary">
                                        </div>
                                        <div class="col">
                                            <% crop.forEach((row) => {
                                            if (row.type === 'subCategory'){
                                            %>
                                                <span style="margin-right: 2px"> <%= row.name %> </span> |
                                            <%
                                            }
                                            })
                                            %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--  biboron -->
                        <div class="card">
                            <div class="card-body">
                                <form action="/pd/add/biboron" method="post">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="">সাব-ক্যাটাগরি</label>
                                            <select class="form-control" id="sub_category_list" name="sub_category_list">
                                                <option selected>সাব-ক্যাটাগরি বাছুনঃ</option>
                                                <% crop.forEach((row) => {
                                                if (row.type === 'subCategory'){
                                                %>
                                                    <option value="<%= row.id %>"> <%= row.name %> </option>
                                                <%
                                                }
                                                })
                                                %>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="">বিবরণ</label>
                                            <input type="text" id="biboron" name="biboron" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for=""></label>
                                            <input type="submit" value="বিবরণ যোগ করুন" class="btn btn-primary">
                                        </div>
                                        <div class="col">
                                            <% crop.forEach((row) => {
                                            if (row.type === 'biboron'){
                                            %>
                                                <span  style="margin-right: 2px"> <%= row.name %> </span> |
                                            <%
                                            }
                                            })
                                            %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--   jaat -->
                        <div class="card">
                            <div class="card-body">
                                <form action="/pd/add/jaat" method="post">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="">বিবরণ</label>
                                            <select class="form-control" id="biboron_list" name="biboron_list">
                                                <option selected> বিবরণ বাছুনঃ</option>
                                                <% crop.forEach((row) => {
                                                if (row.type === 'biboron'){
                                                %>
                                                    <option value="<%= row.id %>"> <%= row.name %> </option>
                                                <%
                                                }
                                                })
                                                %>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="">জাত</label>
                                            <input type="text" id="jaat" name="jaat" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for=""></label>
                                            <input type="submit" class="btn btn-primary" value="জাত যোগ করুন ">
                                        </div>
                                        <div class="col">
                                            <% crop.forEach((row) => {
                                            if (row.type === 'jat'){
                                            %>
                                                <span  style="margin-right: 2px"> <%= row.name %> </span> |
                                            <%
                                            }
                                            })
                                            %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        

                       

                        <div class="card">
                            <div class="card-body">
                                <form action="/pd/apaUddessho" method="post">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="">এপিএ'র নতুন কৌশলগত উদ্দেশ্য  :</label>
                                            <input type="text"  id="apaUddessho" name="apaUddessho" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for=""></label>
                                            <input type="submit" value="কৌশলগত উদ্দেশ্য যোগ করুন" class="btn btn-primary">
                                        </div>

                                        <div class="col">
                                            <% apaCodes.forEach((row) => {
                                            if (row.type === 'apaUddessho'){
                                            %>
                                                <span style="margin-right: 2px"> <%= row.name %> </span> |
                                            <%
                                            }
                                            })
                                            %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--  কৌশলগত উদ্দেশ্য এর মান -->
                        <div class="card">
                            <div class="card-body">
                                <form action="/pd/apaMaan" method="post">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="">এপিএ'র কৌশলগত উদ্দেশ্য</label>
                                            <select class="form-control" id="apaUddessho" name="apaUddessho">
                                                <option selected> এপিএ'র কৌশলগত উদ্দেশ্য বাছুন</option>
                                                <% apaCodes.forEach((row) => {
                                                if (row.type === 'apaUddessho'){
                                                %>
                                                    <option value="<%= row.id %>"> <%= row.name %> </option>
                                                <%
                                                }
                                                })
                                                %>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="">কৌশলগত উদ্দেশ্য এর মান</label>
                                            <input type="text"  id="apaMaan" name="apaMaan" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for=""></label>
                                            <input type="submit" value="কৌশলগত উদ্দেশ্য এর মান যোগ করুন" class="btn btn-primary">
                                        </div>
                                        <div class="col">
                                            <% apaCodes.forEach((row) => {
                                            if (row.type === 'apaMaan'){
                                            %>
                                                <span style="margin-right: 2px"> <%= row.name %> </span> |
                                            <%
                                            }
                                            })
                                            %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <!--  কার্যক্রম -->
                        <div class="card">
                            <div class="card-body">
                                <form action="/pd/karjokrom" method="post">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="">এপিএ'র কৌশলগত উদ্দেশ্য এর মান</label>
                                            <select class="form-control" id="apaMaan" name="apaMaan">
                                                <option selected>এপিএ'র কৌশলগত উদ্দেশ্য এর মান বাছুন</option>
                                                <% apaCodes.forEach((row) => {
                                                if (row.type === 'apaMaan'){
                                                %>
                                                    <option value="<%= row.id %>"> <%= row.name %> </option>
                                                <%
                                                }
                                                })
                                                %>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="">কার্যক্রম</label>
                                            <input type="text"  id="karjokrom" name="karjokrom" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for=""></label>
                                            <input type="submit" value="কার্যক্রম যোগ করুন" class="btn btn-primary">
                                        </div>
                                        <div class="col">
                                            <% apaCodes.forEach((row) => {
                                            if (row.type === 'karjokrom'){
                                            %>
                                                <span style="margin-right: 2px"> <%= row.name %> </span> |
                                            <%
                                            }
                                            })
                                            %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        
                        <!--  কর্মসম্পাদন সূচক -->
                        <div class="card">
                            <div class="card-body">
                                <form action="/pd/suchok" method="post">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="">কার্যক্রম</label>
                                            <select class="form-control" id="karjokrom" name="karjokrom">
                                                <option selected>কার্যক্রম বাছুন</option>
                                                <% apaCodes.forEach((row) => {
                                                if (row.type === 'karjokrom'){
                                                %>
                                                    <option value="<%= row.id %>"> <%= row.name %> </option>
                                                <%
                                                }
                                                })
                                                %>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="">কর্মসম্পাদন</label>
                                            <input type="text"  id="suchok" name="suchok" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for=""></label>
                                            <input type="submit" value="কার্যক্রম যোগ করুন" class="btn btn-primary">
                                        </div>
                                        <div class="col">
                                            <% apaCodes.forEach((row) => {
                                            if (row.type === 'suchok'){
                                            %>
                                                <span style="margin-right: 2px"> <%= row.name %> </span> |
                                            <%
                                            }
                                            })
                                            %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <!--  একক -->
                        <div class="card">
                            <div class="card-body">
                                <form action="/pd/ekok" method="post">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="">কর্মসম্পাদন সূচক</label>
                                            <select class="form-control" id="suchok" name="suchok">
                                                <option selected>কর্মসম্পাদন সূচক বাছুন</option>
                                                <% apaCodes.forEach((row) => {
                                                if (row.type === 'suchok'){
                                                %>
                                                    <option value="<%= row.id %>"> <%= row.name %> </option>
                                                <%
                                                }
                                                })
                                                %>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="">একক</label>
                                            <input type="text"  id="ekok" name="ekok" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for=""></label>
                                            <input type="submit" value="কার্যক্রম যোগ করুন" class="btn btn-primary">
                                        </div>
                                        <div class="col">
                                            <% apaCodes.forEach((row) => {
                                            if (row.type === 'ekok'){
                                            %>
                                                <span style="margin-right: 2px"> <%= row.name %> </span> |
                                            <%
                                            }
                                            })
                                            %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--  কর্মসম্পাদন সূচক এর মান-->
                        <div class="card">
                            <div class="card-body">
                                <form action="/pd/suchokMaan" method="post">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="">কর্মসম্পাদন সূচক</label>
                                            <select class="form-control" id="suchok" name="suchok">
                                                <option selected>কর্মসম্পাদন সূচক বাছুন</option>
                                                <% apaCodes.forEach((row) => {
                                                if (row.type === 'suchok'){
                                                %>
                                                    <option value="<%= row.id %>"> <%= row.name %> </option>
                                                <%
                                                }
                                                })
                                                %>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="">কর্মসম্পাদন সূচক এর মান</label>
                                            <input type="text"  id="suchokMaan" name="suchokMaan" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for=""></label>
                                            <input type="submit" value="কর্মসম্পাদন সূচক এর মান যোগ করুন" class="btn btn-primary">
                                        </div>
                                        <div class="col">
                                            <% apaCodes.forEach((row) => {
                                            if (row.type === 'suchokMaan'){
                                            %>
                                                <span style="margin-right: 2px"> <%= row.name %> </span> |
                                            <%
                                            }
                                            })
                                            %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer')-%>
<script type="text/javascript">
    $('#center').on("change",function () {
        var center = $('#center').val();
        $.ajax({
            type: "POST",
            url: "/centerData",
            data: {center: center},
            datatype: "json",
            beforeSend: function() {
                // setting a timeout
                $('#loading').show();
                $('#output').hide();
            },
            success: function (data) {
                $('#totalProduction').html(new Number(data.totalProduction).toLocaleString("bn-BD"));
                $('#totalBitoron').html(new Number(data.totalBitoron).toLocaleString("bn-BD"));
                $('#totalMojud').html(new Number(data.totalProduction - data.totalBitoron).toLocaleString("bn-BD"));
                $('#totalrajossho').html(new Number(data.totalrajossho).toLocaleString("bn-BD"));

            },
            complete: function() {
                $('#loading').hide();
                $('#output').show();
            }
        });
    });
</script>