<%- include('../includes/header')-%>
<div class="wrapper">
    <%- include('../includes/topbar')-%>

    <div class="page-wrap">
        <%- include('../includes/sidebar')-%>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row clearfix">
                    
                    <!-- <div class="col- ">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="state">
                                        <h6>চারা উৎপাদন</h6>
                                        <h4 id="totalProduction"><%= new Number(totalProduction).toLocaleString("bn-BD") %></h4>
                                    </div>
                                    <div class="icon">
                                        <i class="ik ik-award"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="state">
                                        <h6>চারা বিতরণ</h6>
                                        <h4 id="totalBitoron"> <%= new Number(totalBitoron).toLocaleString("bn-BD") %> </h4>
                                    </div>
                                    <div class="icon">
                                        <i class="ik ik-award"></i>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col ">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="state">
                                        <h6>চারা সংরক্ষণ/মজুদ</h6>
                                        <h4 id="totalMojud"><%= new Number(totalProduction - totalBitoron).toLocaleString("bn-BD") %></h4>
                                    </div>
                                    <div class="icon">
                                        <i class="ik ik-award"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                         <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="state">
                                        <h6>রাজস্ব আয়</h6>
                                        <h4 id="totalrajossho"><%= new Number(totalrajossho).toLocaleString("bn-BD") %></h4>
                                    </div>
                                    <div class="icon">
                                        <i class="ik ik-award"></i>
                                    </div>
                                </div>
                            </div>

                        </div> 
                    </div> -->
                    <div class="col-3 align-self-end">
                        <select id="center" class="form-control">
                            <option value="all">সব  সেন্টার</option>
                            <% center.forEach((row) => { %>
                                <option value="<%= row.id %>"> <%= row.center %> </option>
                            <%  }) %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">

                        <div class="card">
                            <div class="card-body">
                                <div class="form-row">
                                        <label for="newRajosshoCode" class="col-md-1 control-label"> নতুন সেন্টার যোগ করুন :</label>
                                        
                                        <div class="col-md-3">
                                            <a href="/center/signup" class="btn btn-primary">যোগ করুন</a>  
                                        </div>
                                </div>
                            </form>
                            </div>
                        </div>
                        
                        <div class="container gallery-container">
                            <h1 text-align:center>নোটিশ বোর্ড</h1>
                            <form action="/pd/dashImageFormPost" id="FieldTrialForm" class="form-horizontal" method="post"  role="form" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label >নতুন নোটিশের টাইটেল</label>
                                    <input type="text" id="title" class="form-control" name="title" required>
                                </div>
                                <div class="form-group">
                                    <label >নতুন নোটিশ আপ্লোড করুন</label>
                                    <input type="file" id="filename" class="form-control" name="dashImage" required>
                                </div>
                                            
                                            
                         <div class="form-group">
                                    <!-- Button -->                                        
                          <div class="col-md-offset-3 col-md-3">
                            <input type="submit" name="submit" value="আপ্লোড" class="btn btn-primary">   
                        </div>
                        </form>

                            
                            <div class="tz-gallery">
                                <div class="row">
                                    <%if (dashImage.length >0){ %>
                                        <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                                        <thead>
                                        <tr>
                                            <th>ক্রমিক নং</th>
                                            <th>টাইটেল</th>
                                            <th>ফাইল</th>
                                            <th>মুছুন</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <% dashImage.forEach(function(row,index){ %>
                                                <tr>
                                                    <td><%= index+1 %></td>
                                                    <td><%= row.title %></td>
                                                    <td><a  href="<%= row.image %>"><i class="fas fa-file"></i>
                                                    </a></td>
                                                    <td>
                                                        <a class="btn btn-danger btn-xs" href="/pd/dashImageDelete/<%= row.id %>"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                    <% }else{ %>
                                        <table class="table table-bordered table-striped" id="tblexportData" cellspacing="0" cellpadding="0">
                                            <thead>
                                            <tr>
                                                <th>ক্রমিক নং</th>
                                                <th>টাইটেল</th>
                                                <th>ফাইল</th>
                                                <th>মুছুন</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% dashImage.forEach(function(row){ %>
                                                <tr>
                                                    <td colspan="10">No data Found</td>
                                                </tr>
                                            <% }) %>
                                            </tbody>
                                        </table>
                                    <% } %>
                                    

                                </div>
                        
                            </div>
                        
                        </div>
                        
                        

                        

                       

                        
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer')-%>
<script type="text/javascript">
    $('#center').on("change",function () {
        var center = $('#center').val();
        $.ajax({
            type: "POST",
            url: "/centerData",
            data: {center: center},
            datatype: "json",
            beforeSend: function() {
                // setting a timeout
                $('#loading').show();
                $('#output').hide();
            },
            success: function (data) {
                $('#totalProduction').html(new Number(data.totalProduction).toLocaleString("bn-BD"));
                $('#totalBitoron').html(new Number(data.totalBitoron).toLocaleString("bn-BD"));
                $('#totalMojud').html(new Number(data.totalProduction - data.totalBitoron).toLocaleString("bn-BD"));
                $('#totalrajossho').html(new Number(data.totalrajossho).toLocaleString("bn-BD"));

            },
            complete: function() {
                $('#loading').hide();
                $('#output').show();
            }
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
                        <script>
                            baguetteBox.run('.tz-gallery');
                        </script>