

<%- include('../../../includes/header')-%>
        <div id="wrapper" class="wrapper" >
            <%- include('../../../includes/topbar')-%>
            <div class="page-wrap">
                <%- include('../../../includes/sidebar')-%>
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <h1 class="text-center"><%= title %></h1>
                            </div>
                        </div>

                   
                        
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <a href="/center/chak2Form" class="btn btn-success btn-group-sm ">হর্টিকালচার সেন্টারের কর্মকর্তা/কর্মচারীদের মঞ্জুরীকৃত পদ ও শুণ্য পদের সংখ্যা ফর্ম</a>
                            </div>

                        </div>

                        <div class="table-responsive" id="output">
                            <%if (records.length >0){ %>
                                <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                                <thead>
                                <tr>
                                    <th>পদের নাম</th>
                                    <th>গ্রেড</th>
                                    <th>মঞ্জুরীকৃত পদ</th>
                                    <th>কর্মরত</th>
                                    <th>শুন্যপদ</th>
                                    <th>মন্তব্য</th>
                                    <th>পরিবর্তন/মুছুন</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% records.forEach(function(row){ %>
                                        <tr>
                                            <td><%= row.name %></td>
                                            <td><%= row.grade %></td>
                                            <td><%= row.pod %></td>
                                            <td><%= row.working %></td>
                                            <td><%= row.shunno %></td>
                                            <td><%= row.comment %></td>
                                            <td><a class="btn btn-primary btn-xs" href="/center/chak2Edit/<%= row.id %>"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-danger btn-xs" href="/center/chak2Delete/<%= row.id %>"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            <% }else{ %>
                                <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                                    <thead>
                                    <tr>
                                        <th>পদের নাম</th>
                                        <th>গ্রেড</th>
                                        <th>মঞ্জুরীকৃত পদ</th>
                                        <th>কর্মরত</th>
                                        <th>শুন্যপদ</th>
                                        <th>মন্তব্য</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% records.forEach(function(row){ %>
                                        <tr>
                                            <td colspan="10">No data Found</td>
                                        </tr>
                                    <% }) %>
                                    </tbody>
                                </table>
                            <% } %>
                        </div>

                        <button onclick="exportToPdf()" class="btn btn-success">
                            Download PDF
                        </button>
                        <div id="output"></div>
        <!--                    <div id="loading" class="loading"><img src="{{ asset('assets/img/icon/loading.gif') }}" alt=""></div>-->
                    </div>
                </div>
            </div>
        </div>


   
<%- include('../../../includes/footer')-%>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    async function exportToPdf() {
        var center = $('#center').val();
        const { data } = await axios.post(`/center/generatePdfchak2`,{center:center});
        var mywindow = window.open("", "PRINT", "height=400,width=600");
        mywindow.document.write(data.html);
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
        mywindow.print();
        return true;
    }
</script>
<script>
        
    $(document).ready(function(){
        
      $('.dropdown a.test').on("click", function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });
    });
</script>

<!-- <script type="text/javascript">
   
    $("body").on("click", "#btnExport", function () {
        html2canvas($('#tblCustomers')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 650
                    }]
                };
                pdfMake.createPdf(docDefinition).download("farmer-details.pdf");
            }
        });
    });

    $("#wrapper").load( "no url rn",function() {
        
        var year = $('#year').val();
        var month = $('#month').val();

        $.ajax({
            type: "POST",
            url: "/center/chak2Year",
            data: {year: year,month: month},
            datatype: "json",
            beforeSend: function() {
                // setting a timeout
                $('#loading').show();
                $('#output').hide();

            },
            success: function (data) {
                $('#output').html(data);
                $('#tblCustomers').DataTable();
            },
            complete: function() {
                $('#loading').hide();
                $('#output').show();
            }
        });
    });

    $('#submit').on("click",function () {
        var year = $('#year').val();
        var month = $('#month').val();
        $.ajax({
            type: "POST",
            url: "/center/chak2Year",
            data: {year: year,month:month},
            datatype: "json",
            beforeSend: function() {
                // setting a timeout
                $('#loading').show();
                $('#output').hide();
            },
            success: function (data) {
                $('#output').html(data);
                $('#tblCustomers').DataTable();
            },
            complete: function() {
                $('#loading').hide();
                $('#output').show();
            }
        });
    });

    $(document).ready(function() {
        $('#tblCustomers').DataTable();
    } );

    

</script> -->