<%- include('../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>ঋণ বিতরণ ও আদায় এর অগ্রগতির প্রতিবেদন ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/center/loanForms" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="currentMonth" class="col-md-3 control-label">মাসের নাম</label>
                                        <div class="col-md-9">
                                            <select id="currentMonth" name="currentMonth">
                                                <option value="">Choose Month</option>
                                                <option value="জানুয়ারি">জানুয়ারি</option>
                                                <option value="ফেব্রুয়ারি">ফেব্রুয়ারি</option>
                                                <option value="মার্চ">মার্চ</option>
                                                <option value="এপ্রিল">এপ্রিল</option>
                                                <option value="মে">মে</option>
                                                <option value="জুন">জুন</option>
                                                <option value="জুলাই">জুলাই</option>
                                                <option value="আগস্ট">আগস্ট</option>
                                                <option value="সেপ্টেম্বর">সেপ্টেম্বর</option>
                                                <option value="অক্টোবর">অক্টোবর</option>
                                                <option value="নভেম্বর">নভেম্বর</option>
                                                <option value="ডিসেম্বর">ডিসেম্বর</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="boraddo" class="col-md-3 control-label">ঋণ বাবদ বরাদ্দ অর্থ</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="boraddo" placeholder="ঋণ বাবদ বরাদ্দ অর্থ">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="bitoron1" class="col-md-3 control-label">বিতরণকৃত অর্থের পরিমাণ(২০০৪-০৫)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="bitoron1" placeholder="বিতরণকৃত অর্থের পরিমাণ(২০০৪-০৫)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="aday1" class="col-md-3 control-label">আদায়কৃত টাকার পরিমাণ(২০০৪-০৫)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="aday1" placeholder="আদায়কৃত টাকার পরিমাণ(২০০৪-০৫)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="left1" class="col-md-3 control-label">অবশিষ্ট টাকার পরিমাণ(২০০৪-০৫)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="left1" placeholder="অবশিষ্ট টাকার পরিমাণ(২০০৪-০৫)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="bitoron2" class="col-md-3 control-label">বিতরণকৃত অর্থের পরিমাণ(২০০৫-০৬)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="bitoron2" placeholder="বিতরণকৃত অর্থের পরিমাণ(২০০৫-০৬)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="aday2" class="col-md-3 control-label">আদায়কৃত টাকার পরিমাণ(২০০৫-০৬)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="aday2" placeholder="আদায়কৃত টাকার পরিমাণ(২০০৫-০৬)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="left2" class="col-md-3 control-label">অবশিষ্ট টাকার পরিমাণ(২০০৫-০৬)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="left2" placeholder="অবশিষ্ট টাকার পরিমাণ(২০০৫-০৬)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment" class="col-md-3 control-label">মন্তব্য</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="comment" placeholder="মন্তব্য">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">বছর</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="year" placeholder="বছর">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">userid</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>" >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../includes/footer')-%>