<%if (records.length >0){ %>
<input type="hidden" id="selectedDate" value="<%= selectedDate %>">
<table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>ক্যাটাগরি নাম</th>
      <th>সাব-ক্যাটাগরি নাম</th>
      <th>বিবরণ</th>
      <th>জাত</th>
      <th>উৎপাদন (লক্ষ্যমাত্রা)</th>
      <th>উৎপাদন (চলতি মাস)</th>
      <th>উৎপাদন (পূর্বমাস পর্যন্ত)</th>
      <th>মোট উৎপাদন (চলতি+পূর্ব মাস)</th>
      <th>ডিএই চালানে প্রাপ্তি</th>
      <th>পূর্ব বছরের জের </th>
      <th>সর্বমোট (মোট+ডিএই চালানে প্রাপ্তি+পূর্ব বছরের জের)</th>
      <th>বিতরণ (চলতি মাস)</th>
      <th>বিতরণ (পূর্বমাস পর্যন্ত)</th>
      <th>বিতরণ মোট (চলতি+পূর্ব মাস)</th>
      <th>ডিএই চালানে প্রদান</th>
      <th>মৃত/বিনষ্ট রাইটআপ</th>
      <th>সর্বমোট (মোট+ডিএই চালানে প্রদান+মৃত/বিনষ্ট রাইটআপ)</th>
      <th>নীট মজুদ</th>
      <th>মন্তব্য</th>
      <% if(selectedDate === moment().format("MMM-YYYY").toLowerCase()) {%>
      <th>যোগ</th>
      <% }%>
    </tr>
  </thead>
  <tbody>
    <% records.forEach(function(row){ %>

    <%
    const currentMonth = moment(new Date()).format("MMM-YYYY").toLowerCase();
    var startRange = "";
    var endRange = "";

    var prevEconomicStart = "";
    var prevEconomicEnd = "";

    if (moment().format("M") < 7){
        startRange = "jul"+"-"+moment(selectedDate).subtract(1, "year").format('yyyy')
        endRange = "jul"+"-"+moment(selectedDate).format('yyyy')
    }else{
        startRange = "jul"+"-"+moment(selectedDate).format('yyyy')
        endRange = "jul"+"-"+moment(selectedDate).add(1, "year").format('yyyy')
    }


    // Previous Economic year

    if (moment().format("M") < 7){
        prevEconomicStart = "jul"+"-"+moment(selectedDate).subtract(2, "year").format('yyyy')
        prevEconomicEnd = "jul"+"-"+moment(selectedDate).subtract(1, "year").format('yyyy')
    }else{
        prevEconomicStart = "jul"+"-"+moment(selectedDate).subtract(1, "year").format('yyyy')
        prevEconomicEnd = "jul"+"-"+moment(selectedDate).format('yyyy')
    }

    // current production (  উৎপাদন  )*******
    var currentProductionSum = 0;
    var previousMonthProduction = 0;
    const currentProd = JSON.parse(row.productionCurrent)
    currentProd.forEach(function(prodCurrent){
        if ( prodCurrent.time === selectedDate ) {
            currentProductionSum += parseInt(prodCurrent.amount)
        }
        else if ( moment( prodCurrent.time ).isSameOrAfter(startRange) &&  moment( prodCurrent.time ).isSameOrBefore(endRange) ){
            previousMonthProduction += parseInt(prodCurrent.amount)
        }
    })

    // উৎপাদন (লক্ষ্যমাত্রা) *********
    var productionTargetSum = 0;
    const TargetProduction = JSON.parse(row.productionTarget)
    TargetProduction.forEach(function(prodTarget){
        if ( moment(selectedDate).isAfter(prodTarget.startTime) &&  moment(selectedDate).isBefore(prodTarget.endTime) ){
            productionTargetSum += parseInt(prodTarget.amount)
        }
    })

    // মোট উৎপাদন (চলতি+পূর্ব মাস) *********
    var totalProductionSum = 0;
    if(parseInt(row.lastYearJer) >= 0){ 
      totalProductionSum = parseInt(row.lastYearJer);
    }
    const TotalProduction = JSON.parse(row.productionTotal)
    TotalProduction.forEach(function(prodTotal){
        if ( moment(selectedDate).isAfter(prodTotal.startTime) &&  moment(selectedDate).isBefore(prodTotal.endTime) ){
            totalProductionSum += parseInt(prodTotal.amount)
        }
    })

    //ডিএই চালানে প্রাপ্তি (চলতি মাস) *********
    var daePraptiSum = 0;
    const currentDaePrapti = JSON.parse(row.daePrapti)
    currentDaePrapti.forEach(function(daePraptiCurrent){
        if ( daePraptiCurrent.time === selectedDate ) {
            daePraptiSum += parseInt(daePraptiCurrent.amount)
        }
    })

    // পূর্ব বছরের জের *********
    var prevYearJer = 0;
    if(parseInt(row.lastYearJer) >= 0){ 
      prevYearJer = parseInt(row.lastYearJer);
    }
    totalProductionSum += parseInt(row.lastYearJer);
    currentDaePrapti.forEach(function(daePraptiCurrent){
        if ( moment( daePraptiCurrent.time ).isAfter(prevEconomicStart) &&  moment( daePraptiCurrent.time ).isBefore(prevEconomicEnd) ) {
            prevYearJer += parseInt(daePraptiCurrent.amount)
        }
    })

    //  বিতরণ ********
    var currentBitoronSum = 0;
    var previousMonthBitoronSum = 0;
    const currBitoron = JSON.parse(row.bitoronCurrentMonth)
    currBitoron.forEach(function(BitoCurrent){
        if ( BitoCurrent.time === selectedDate ) {
            currentBitoronSum += parseInt(BitoCurrent.amount)
        }
        else if ( moment( BitoCurrent.time ).isAfter(startRange) &&  moment( BitoCurrent.time ).isBefore(endRange) ){
            previousMonthBitoronSum += parseInt(BitoCurrent.amount)
        }
    })

    // মোট বিতরণ ******
    var totalBitoronSum = 0;
    const TotalBitoron = JSON.parse(row.bitoronTotal)
    TotalBitoron.forEach(function(bitorTotal){
        if ( moment(selectedDate).isAfter(bitorTotal.startTime) &&  moment(selectedDate).isBefore(bitorTotal.endTime) ){
            totalBitoronSum += parseInt(bitorTotal.amount)
        }
    })

    // ডিএই চালানে প্রদান *******
    var currentDaeProdanSum = 0;
    const currDaeProdan = JSON.parse(row.daeProdan)
    currDaeProdan.forEach(function(DaeProdanCurrent){
        if ( DaeProdanCurrent.time === selectedDate ) {
            currentDaeProdanSum += parseInt(DaeProdanCurrent.amount)
        }
    })

    // মৃত/বিনষ্ট ********
    var currentMritoSum = 0;
    const currMrito = JSON.parse(row.deadWriteup)
    currMrito.forEach(function(MritoCurrent){
        if ( MritoCurrent.time === selectedDate ) {
            currentMritoSum += parseInt(MritoCurrent.amount)
        }
    })

    // মজুদ ******
    // var currentMojudSum = 0;
    // const currMojud = JSON.parse(row.mojud)
    // currMojud.forEach(function(MojudCurrent){
    //     if ( MojudCurrent.time === moment().format("MMM-YYYY").toLowerCase() ) {
    //         currentMojudSum += parseInt(MojudCurrent.amount)
    //     }
    // })

    // মন্তব্য *********
    var montobboSum = "";
    const currMontobbo = JSON.parse(row.comment)
    currMontobbo.forEach(function(MontobboCurrent){
        if ( MontobboCurrent.time === selectedDate ) {
            montobboSum = MontobboCurrent.msg
        }
    })

            %>
    <tr>
      <td> <%= row.cropCategory.name %></td>
      <td><%= row.cropSubCategory.name %></td>
      <td><%= row.cropBiboron.name %></td>
      <td><%= row.cropBreed.name %></td>
      <td><%= new Number(productionTargetSum).toLocaleString("bn-BD") %></td> <!--  উৎপাদন (লক্ষ্যমাত্রা) -->
      <td><%= new Number(currentProductionSum).toLocaleString("bn-BD") %></td> <!--   উৎপাদন (চলতি মাস) -->
      <td> <%= new Number(previousMonthProduction).toLocaleString("bn-BD") %> </td> <!--  উৎপাদন (পূর্বমাস পর্যন্ত) -->
      <td> <%= new Number(currentProductionSum + previousMonthProduction).toLocaleString("bn-BD") %> </td> <!--  মোট উৎপাদন (চলতি+পূর্ব মাস) -->
      <td> <%= new Number(daePraptiSum).toLocaleString("bn-BD") %> </td> <!-- ডিএই চালানে প্রাপ্তি -->
      <td> <%= new Number(prevYearJer).toLocaleString("bn-BD") %> </td> <!--  পূর্ব বছরের জের -->
      <td> <%= new Number(currentProductionSum + previousMonthProduction + daePraptiSum + prevYearJer).toLocaleString("bn-BD") %> </td> <!-- সর্বমোট (মোট+ডিএই চালানে প্রাপ্তি+পূর্ব বছরের জের -->
      <td><%= new Number(currentBitoronSum).toLocaleString("bn-BD") %></td> <!-- বিতরণ (চলতি মাস) -->
      <td><%= new Number(previousMonthBitoronSum).toLocaleString("bn-BD") %></td> <!--  বিতরণ (পূর্বমাস পর্যন্ত) -->
      <td><%= new Number(currentBitoronSum + previousMonthBitoronSum).toLocaleString("bn-BD") %></td> <!-- বিতরণ মোট (চলতি+পূর্ব মাস) -->
      <td><%= new Number(currentDaeProdanSum).toLocaleString("bn-BD") %></td> <!-- ডিএই চালানে প্রদান -->
      <td><%= new Number(currentMritoSum).toLocaleString("bn-BD") %></td> <!-- মৃত/বিনষ্ট রাইটআপ -->
      <td><%= new Number(currentBitoronSum + previousMonthBitoronSum + currentDaeProdanSum + currentMritoSum).toLocaleString("bn-BD") %></td> <!--  সর্বমোট (মোট+ডিএই চালানে প্রদান+মৃত/বিনষ্ট রাইটআপ) -->
      <td><%= new Number((currentProductionSum + previousMonthProduction + daePraptiSum + prevYearJer) - (currentBitoronSum + previousMonthBitoronSum + currentDaeProdanSum + currentMritoSum)).toLocaleString("bn-BD") %></td> <!--  নীট মজুদ -->
      <td><%= montobboSum %></td> <!-- মন্তব্য  -->
      <% if(selectedDate === currentMonth) {%>
      <td>
        <a class="btn btn-primary btn-xs" href="/center/monthlyProgressEdit/<%= row.id %>/<%= selectedDate %>"><i class="fa fa-plus"></i></a>
        <!-- <a class="btn btn-danger btn-xs" href="/center/monthlyProgressDelete/<%= row.id %>/<%= selectedDate %>"><i class="fa fa-trash"></i></a> -->
      </td>
      <% }%>
    </tr>
    <% }) %>
  </tbody>
</table>
<button onclick="exportToPdf()" class="btn btn-success">
  Download PDF
</button>
<% }else{ %>
<table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>ক্যাটাগরি নাম</th>
      <th>সাব-ক্যাটাগরি নাম</th>
      <th>বিবরণ</th>
      <th>জাত</th>
      <th>উৎপাদন (লক্ষ্যমাত্রা)</th>
      <th>উৎপাদন (চলতি মাস)</th>
      <th>উৎপাদন (পূর্বমাস পর্যন্ত)</th>
      <th>মোট উৎপাদন (চলতি+পূর্ব মাস)</th>
      <th>ডিএই চালানে প্রাপ্তি</th>
      <th>পূর্ব বছরের জের</th>
      <th>সর্বমোট (মোট+ডিএই চালানে প্রাপ্তি+পূর্ব বছরের জের)</th>
      <th>বিতরণ (চলতি মাস)</th>
      <th>বিতরণ (পূর্বমাস পর্যন্ত)</th>
      <th>বিতরণ মোট (চলতি+পূর্ব মাস)</th>
      <th>ডিএই চালানে প্রদান</th>
      <th>মৃত/বিনষ্ট রাইটআপ</th>
      <th>সর্বমোট (মোট+ডিএই চালানে প্রদান+মৃত/বিনষ্ট রাইটআপ)</th>
      <th>নীট মজুদ</th>
      <th>মন্তব্য</th>
    </tr>
  </thead>
  <tbody>
    <% records.forEach(function(row){ %>
    <tr>
      <td colspan="10">No data Found</td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } %>
<script>
  async function exportToPdf() {
    const selectedDate = $("#selectedDate").val();
    const {
      data
    } = await axios({
      url: `/center/generatePdfMonthlyProgress/${selectedDate}`,
      method: "GET",
    });
    var mywindow = window.open("", "PRINT", "height=400,width=600");
    mywindow.document.write(data.html);
    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/
    mywindow.print();
    return true;
  }
</script>