<%- include('../../includes/header')-%>
<style>
  .ui-datepicker-calendar {
    display: none;
  }
</style>
<div id="wrapper" class="wrapper">
  <%- include('../../includes/topbar')-%>
  <div class="page-wrap">
    <%- include('../../includes/sidebar')-%>
    <div class="main-content">
      <div class="container-fluid">
        <div class="row clearfix">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <div class="row">
              <div class="col">
                <input name="startDate" id="startDate" class="date-picker year form-control" placeholder="Date" autocomplete="off" />
              </div>
              <button class="btn btn-success col" id="search">Search</button>
            </div>
          </div>
        </div>
        <h1 class="text-center"><%= title %></h1>
        <div class="row mb-2">
          <div class="col-md-12">
            <a href="/center/monthlyProgressForm" class="btn btn-success btn-group-sm">মাসিক প্রতিবেদন ফর্ম</a>
          </div>
        </div>

        <div class="table-responsive" id="output"></div>

        <!-- <a href="/center/generatePdfMonthlyProgress" class="btn btn-primary"
                  >Download pdf</a
                > -->
        <button onclick="exportToExcel('tblCustomers', 'মাসিক প্রতিবেদন')" class="btn btn-success">Export Table Data To Excel File</button>

                <!-- <button onclick="exportToPdf()" class="btn btn-success">
                    Download PDF
                </button> -->

        <div id="output"></div>
        <!--                    <div id="loading" class="loading"><img src="{{ asset('assets/img/icon/loading.gif') }}" alt=""></div>-->
      </div>
    </div>
  </div>
</div>

<%- include('../../includes/footer')-%>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<script type="text/javascript">
  async function exportToExcel(tableID, filename = '') {
    try {
      console.log(tableID)
      var elt = document.getElementById(tableID);
      var wb = await XLSX.utils.table_to_book(elt, {
        sheet: "sheet1"
      });
      // return dl ?
      //   XLSX.write(wb, {
      //     bookType: 'xlsx',
      //     bookSST: true,
      //     type: 'base64'
      //   })
      // : 
      await XLSX.writeFile(wb, filename + '.xlsx', );
    } catch (error) {
      console.log(error)
    }

  }
   
  </script>
<script>
  $(document).ready(function() {
    $(".dropdown a.test").on("click", function(e) {
      $(this).next("ul").toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
</script>

<script type="text/javascript">
  $("#wrapper").load("no url rn", function() {
    var year = moment().format("MMM-YYYY");
    $("#startDate").val(year);
    $.ajax({
      type: "POST",
      url: "/center/monthlyProgressYear",
      data: {
        year: year
      },
      datatype: "json",
      beforeSend: function() {
        // setting a timeout
        $("#loading").show();
        $("#output").hide();
      },
      success: function(data) {
        $("#output").html(data);
        $("#tblCustomers").DataTable();
      },
      complete: function() {
        $("#loading").hide();
        $("#output").show();
      },
    });
  });
  $("#search").on("change click", function() {
    var year = $(".year").val();
    $.ajax({
      type: "POST",
      url: "/center/monthlyProgressYear",
      data: {
        year: year
      },
      datatype: "json",
      beforeSend: function() {
        // setting a timeout
        $("#loading").show();
        $("#output").hide();
      },
      success: function(data) {
        $("#output").html(data);
        $("#tblCustomers").DataTable();
      },
      complete: function() {
        $("#loading").hide();
        $("#output").show();
      },
    });
  });
  $(".date-picker").datepicker({
    changeMonth: true,
    changeYear: true,
    showButtonPanel: true,
    dateFormat: "M-yy",
    onClose: function(dateText, inst) {
      $(this).datepicker(
        "setDate",
        new Date(inst.selectedYear, inst.selectedMonth, 1)
      );
    },
  });
  $(document).ready(function() {
    $("#tblCustomers").DataTable({
      dom: 'Bfrtip',
      buttons: [
          'excelHtml5',
        ]
    });
  });
</script>