<%- include('../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>খরচের (বিএস্টেটমেন্ট) হিসাব বিবরণী ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/center/expenseForms" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                        
                                    <div class="form-group">
                                        <label for="code" class="col-md-3 control-label">কোড নং</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="code" placeholder="কোড নং">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="khat" class="col-md-3 control-label">খাতের নাম</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="khat" placeholder="খাতের নাম">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="boraddo" class="col-md-3 control-label">২০১৮-১৯ অর্থ বছরের প্রাপ্ত বরাদ্দ</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="boraddo" placeholder="২০১৮-১৯ অর্থ বছরের প্রাপ্ত বরাদ্দ">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="july1" class="col-md-3 control-label">জুলাই/১৯</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="july1" placeholder="জুলাই/১৯">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="august1" class="col-md-3 control-label">আগস্ট/১৯</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="august1" placeholder="আগস্ট/১৯">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="sept1" class="col-md-3 control-label">সেপ্টে/১৯</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="sept1" placeholder="সেপ্টে/১৯">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="oct1" class="col-md-3 control-label">অক্টো/১৯</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="oct1" placeholder="অক্টো/১৯">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="nov1" class="col-md-3 control-label">নভে/১৯</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="nov1" placeholder="নভে/১৯">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="dec1" class="col-md-3 control-label">ডিসে/১৯</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="dec1" placeholder="ডিসে/১৯">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="jan2" class="col-md-3 control-label">জানু/২০</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="jan2" placeholder="জানু/২০">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="feb2" class="col-md-3 control-label">ফেব্রু/২০</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="feb2" placeholder="ফেব্রু/২০">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="march2" class="col-md-3 control-label">মার্চ/২০</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="march2" placeholder="মার্চ/২০">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="apr2" class="col-md-3 control-label">এপ্রিল/২০</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="apr2" placeholder="এপ্রিল/২০">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="may2" class="col-md-3 control-label">মে/২০</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="may2" placeholder="মে/২০">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="june2" class="col-md-3 control-label">জুন/২০</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="june2" placeholder="জুন/২০">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="total" class="col-md-3 control-label">মোট খরচ</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="total" placeholder="মোট খরচ">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="baki" class="col-md-3 control-label">অবশিষ্ট</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="baki" placeholder="অবশিষ্ট">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment" class="col-md-3 control-label">মন্তব্য অতিরিক্ত খরচ বেতন</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="comment" placeholder="মন্তব্য অতিরিক্ত খরচ বেতন">
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">বছর</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="year" placeholder="বছর">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">userid</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>" >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../includes/footer')-%>