<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>সেন্টারের নাম : <%= centerName.center %></title>

  <style>
    .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .flex-container h5 {
      padding: 0;
      margin: 0;
    }

    .table,
    td,
    th {
      border: 1px solid black;
    }

    .table {
      width: 100%;
      border-collapse: collapse;
    }

    .header {
      display: flex;
      width: 100%;
    }

    .header>* {
      width: 33%;
    }
    .center {
      text-align: center;
    }

    .inline-block-child {
      display: inline-block;
    }
  </style>
</head>

<body>

  <div style="margin-top: 5px; padding-top: 5px; padding-bottom: 5px; background-color: #ffffffa6;" class="center">
    <div>
      <div class="header">
        <div>
          <img src="/images/bd.png" width="100" alt="bd">
        </div>
        <div class="flex-container">
          <h5>গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</h5>
          <h5>কৃষি সম্প্রসারণ অধিদপ্তর</h5>
          <h5>হর্টিকালচার উইং</h5>
        </div>
        <div>
          <img src="/images/dae.jpg" width="100" alt="dae">
        </div>
      </div>
      <h3>খরচের (বি-স্টেটমেন্ট) হিসাব বিবরণী</h3>
      <p><b>সেন্টারের নাম : </b> <%= centerName.center %></p>
      <%if (records.length >0){ %>
      <table class="table table-bordered table-striped" id="tblexportData" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>কোড নং</th>
            <th>খাতের নাম</th>
            <th>চলতি অর্থ বছরের প্রাপ্ত বরাদ্দ</th>
            <th>জুলাই</th>
            <th>আগস্ট</th>
            <th>সেপ্টে</th>
            <th>অক্টো</th>
            <th>নভে</th>
            <th>ডিসে</th>
            <th>জানু</th>
            <th>ফেব্রু</th>
            <th>মার্চ</th>
            <th>এপ্রিল</th>
            <th>মে</th>
            <th>জুন</th>
            <th>মোট খরচ</th>
            <th>অবশিষ্ট</th>
            <th>মন্তব্য অতিরিক্ত খরচ বেতন</th>
          </tr>
        </thead>
        <tbody>
          <% records.forEach(function(row){ %>
          <tr>
            <td><%= row.code %></td>
            <td><%= row.khat %></td>
            <td><%= row.boraddo %></td>
            <td><%= row.july1 %></td>
            <td><%= row.august1 %></td>
            <td><%= row.sept1 %></td>
            <td><%= row.oct1 %></td>
            <td><%= row.nov1 %></td>
            <td><%= row.dec1 %></td>
            <td><%= row.jan2 %></td>
            <td><%= row.feb2 %></td>
            <td><%= row.march2 %></td>
            <td><%= row.apr2 %></td>
            <td><%= row.may2 %></td>
            <td><%= row.june2 %></td>
            <td><%= row.total %></td>
            <td><%= row.baki %></td>
            <td><%= row.comment %></td>


          </tr>
          <% }) %>
        </tbody>
      </table>
      <% }else{ %>
      <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>কোড নং</th>
            <th>খাতের নাম</th>
            <th>চলতি অর্থ বছরের প্রাপ্ত বরাদ্দ</th>
            <th>জুলাই</th>
            <th>আগস্ট</th>
            <th>সেপ্টে</th>
            <th>অক্টো</th>
            <th>নভে</th>
            <th>ডিসে</th>
            <th>জানু</th>
            <th>ফেব্রু</th>
            <th>মার্চ</th>
            <th>এপ্রিল</th>
            <th>মে</th>
            <th>জুন</th>
            <th>মোট খরচ</th>
            <th>অবশিষ্ট</th>
            <th>মন্তব্য অতিরিক্ত খরচ বেতন</th>
          </tr>
        </thead>
        <tbody>
          <% records.forEach(function(row){ %>
          <tr>
            <td colspan="10">No data Found</td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </div>

</body>

</html>