<%- include('../../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>বিভিন্ন ফুল ও সুদৃশ্য গাছের চারা/কলমের বিক্রয় মূল্য ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/pd/otherFlowerForms" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                        
                                    <div class="form-group">
                                        <label for="item" class="col-md-3 control-label">আইটেমের নাম (জাতওয়ারী)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="item" placeholder="আইটেমের নাম (জাতওয়ারী)">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="target" class="col-md-3 control-label">পলিব্যাগ (২০১৭-১৮ এ বিক্রয়মূল্য)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="polyshotero" placeholder="পলিব্যাগ (২০১৭-১৮ এ বিক্রয়মূল্য)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="lproduction" class="col-md-3 control-label">টবে (২০১৭-১৮ এ বিক্রয়মূল্য)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="tobshotero" placeholder="টবে (২০১৭-১৮ এ বিক্রয়মূল্য)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="cproduction" class="col-md-3 control-label">পলিব্যাগ (২০১৮-১৯ এ বিক্রয়মূল্য)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="polyatharo" placeholder="পলিব্যাগ (২০১৮-১৯ এ বিক্রয়মূল্য)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lproduction" class="col-md-3 control-label">টবে (২০১৮-১৯ এ বিক্রয়মূল্য)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="tobatharo" placeholder="টবে (২০১৮-১৯ এ বিক্রয়মূল্য)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="cproduction" class="col-md-3 control-label">পলিব্যাগ (২০১৯-২০ এ বিক্রয়মূল্য)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="polyunish" placeholder="পলিব্যাগ (২০১৯-২০ এ বিক্রয়মূল্য)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lproduction" class="col-md-3 control-label">টবে (২০১৯-২০ এ বিক্রয়মূল্য)</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="tobunish" placeholder="টবে (২০১৯-২০ এ বিক্রয়মূল্য)">
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">বছর</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="year" placeholder="বছর">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">userid</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>" >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../../includes/footer')-%>